body,html{
    background-color: #F2EECB;
    font-family: sans-serif;
    height: 100%;
    text-align:center;
}
form,#content{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    width: 100%;
}
form>*{
    margin: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
form>*>*{
}
form>*>input{
    margin-left: 1rem;
    flex-grow: 1;
}
#content{
    height: 100%;
    justify-content: space-evenly;
}
#location{
    font-family: monospace;
}
#tally{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.state{
    margin: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    background-color: #00000010;
    border-radius: .25rem;
}
.candidate{
    font-family: mono;
    color: #000000CC;
}
#total{
    margin: 1rem;
    padding: 2rem;
    background-color: #00000010;
    border-radius: .25rem;
}
